.side-bar{
    background-color: white ;
    position: fixed;
    bottom: 0;
    top: 55px;
    left: 0;
    width: 72px;
    z-index: 250;
    padding-top: 5px;
}

.side-bar-link{
    height: 74px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    cursor: pointer;

}

.side-bar-link:hover{
    background-color: rgb(236, 235, 235);    
}

.side-bar-link img{
    height: 24px;
    margin-bottom: 3px;
}

.side-bar-link div{
    font-family: Roboto,Arial;
    font-size: 10px;
}