
            .thumbnail-1{   
                width: 100%;
                margin-bottom: 6px;
            }
            .video-preview {
               
            }  
            .video-info{
                display: inline-block;
            }
            .video-title {
                display: inline-block;
                margin: 0px;
                font-size: 14px;
                font-family: Roboto,Arial;
                width: 200px;
                font-weight: 700;
                line-height: 20px;  
                margin-bottom: 10px;
            }
            .channel-picture {
                display: inline-block; 
                width: 40px;
                vertical-align: top;  
            }
            .profile-picture {
                width: 36px;
                border-radius: 50px;
            }
            .video-author {
                color: rgb(96, 96, 96);
                margin-top: 10px;
                margin-bottom: 0px;
                font-size: 14px;
            }
            .video-stats {
                 color: rgb(96, 96, 96);
                 margin-top: 5px;
                 font-size: 14px;
            }
            .video-grid{
                display: grid;
                grid-template-columns: 1fr 1fr 1fr;
                column-gap: 20px;
                row-gap: 50px;
            }

            @media (max-width: 750px) {
                .video-grid{
                    grid-template-columns: 1fr 1fr;
                }
            }
            @media (min-width: 751px) and (max-width: 999px) {
                .video-grid{
                    grid-template-columns: 1fr 1fr 1fr;
                }
            }

            @media (min-width: 1000px) {
                .video-grid{
                    grid-template-columns: 1fr 1fr 1fr 1fr;
                }
            }




            .thumbnail-row{
                margin-bottom: 8px;
                position: relative;
            }
            .video-time{
                font-family: Roboto,Arial;
                font-size: 12px;
                font-weight: 500;
                padding: 4px;
                border-radius: 3 px;
                background-color: black;
                color: white;
                position: absolute;
                bottom: 15px;
                right: 5px;
    
}